body{
	background-color: #eee;
}

.article-container{
	min-width: 100%;
	padding: 0;
	margin:0;
}

.article-container .header{
	margin-top: -20px;
	height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background: url('../img/feather.jpg') center center no-repeat fixed;
}

.article-container .add-to-collection{
	position: relative;
	float:right;
}

.article-container .article-title {
	margin-top: 480px;
}

.article-container .article-title h1 {
	color:#fff;
}

.article-container .article-title p {
	margin-right :200px;
}

.article-container .article-author{
	height: 50px;
	width: 50px;
	border-radius: 100%;
}

.article-container .article-author h5{
	display: inline !important;
}

.article{
	margin-top: 60px;
	text-align: center;
}

.votes{
	text-align: center;
	font-size: 150%;
	margin-bottom: 20px;
}

.comment{
	margin-bottom: 20px;
}

.comment span{
	font-size: 200%;
}

.comment span, h6{
	display: inline;
}

.social-networks{
	float:right;
}
