
  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
  <script src="{$BASE_URL}js/bootstrap.min.js" type="text/javascript"></script>
  <!-- <script src="js/docs.min.js"></script> -->

</body>
</html>
