body{
	background-color: #eee;
}
.container{
	max-width: 730px;
}

.article-highlight{
	background-color: #FFF;
	padding: 10px 0 10px 0;
	height: 270px;
}
.left-articles{
	padding-left: 25px;
}
.more-articles{
	height: 270px;
}
.more-articles .row{
	background-color: #FFF;
	text-align: center;
	height: 270px;
	padding: 10px 0 10px 0;
}