body{
}

.container {
    max-width: 1000px;
}

.navbar {
    margin-bottom: 0;
}

.navbar .navbar-brand {
  color: #FFF;
}

.navbar-form .form-control {
  color: white;
}

/* Settings */

.settings{
    padding: 0 100px 0 100px;
}

.settings > h1{
    text-align: center;
}

.setting-option{
    margin-top: 50px;
}

.setting-option h4, button{
    display: inline;
}

.setting-option h4, a{
    display: inline;
}

.setting-option a{
    float:right;
    margin-left: 10px;
}

.setting-option button{
    float:right;
    margin-left: 10px;
}

.setting-option input{
    text-align: center;
}

.moderator-search{
    margin-top: 10px;
    height: 40px;
    font-size: 30px;
    font-weight: 300;

}

/* Collections page */

.collections-container{
    max-width: 730px;
}

.article-highlight{
    background-color: #FFF;
    padding: 10px 0 10px 0;
    height: 270px;
}
.left-articles{
    padding-left: 25px;
}
.more-articles{
    height: 270px;
}
.more-articles .row{
    background-color: #FFF;
    text-align: center;
    height: 270px;
    padding: 10px 0 10px 0;
}

/* Homepage */

.story > a{
    text-decoration: none;
    color: inherit;
}

.search-all{
    margin-top: 50px;
    height: 70px;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.sidebar-title{
    margin-bottom: 25px;
}
.user-card{
    margin-bottom: 20px;
}
.round-avatar{
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

/* Search */

.search-container{
    margin-top: 60px;
}

.user-card a{
    text-decoration: none;
    color: inherit;
}

.story-search a{
    text-decoration: none;
    color: inherit;
}

#followButton
{
  float: right;
}

.js-subscribe
{
  float: inherit;
}
/* Perfil Page */

.perfil-page.info {
    min-width: 100%;
}

.perfil-page > .cover-container {
  background-color: black;
}

.perfil-page .cover {
    min-height: 250px;
    background: url('../img/feather.jpg') center center no-repeat fixed;
    background-size: cover;
    background-color: black;
    opacity: 0.75;
}

.perfil-page .avatar {
    width: 140px;
    height: 140px;
    background-color: #DDD;
    color: #fff;
    line-height: 2.3em;
    font-size: 4.4em;
    text-align: center;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.perfil-page .description {
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.perfil-page .description h2 {
    font-size: 20px;
}

.perfil-page .description .lead {
    font-size: 14px;
}

#page-tabs-nav {
    width: 100%;
    float: left;
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    float: inherit;
}

#page-tabs-hr
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#page-tabs-nav li {
    float: left;
}

#page-tabs-nav li {
  display: block;
  padding-right: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #AAA;
}

#page-tabs-nav li.disabled {
  text-decoration:line-through
}

#page-tabs-nav li.active,
#page-tabs-nav li:hover:not(.disabled) {
  color: black;
}


/* Article Page */

.article-header{
    position: relative;
    margin-top: -20px;
    background: url('../img/feather.jpg') center center no-repeat fixed;
    background-size: cover;
}

.article-header .container {
    min-height: 300px;
}

.article-header .add-to-collection{
    /*position: absolute;
    right: 0;*/
}

.article-header .article-title {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.article-header .article-title h1 {
    color:#fff;
}

.article-header .article-author{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.collections-row h3{
    margin-top:-15px;
}

.collections-row .collection-subscribe{
    float:right;
}

.collections-container{
    margin-top:15px;
}

.collections-row .collection-unsubscribe{
    float:right;
}

.article-header .article-author h5{
    //display: inline !important;
}

.article{
    margin: 30px 0;
}

.article img {
    text-align: center;
}

/* Create Article Page */

.article .btn-default{
    position: relative;
    float: right;
}

.add-image{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 50px;
    height: 50px;
}

.add-image:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}

.search-input{
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: inherit;
    outline: 0 !important;
    /* -webkit-appearance: none; */
    box-shadow: none;
    width: 100%;
}

.create-article > .title{
    margin-top: 50px;
    height: 70px;
    font-size: 50px;
    font-weight: 300;
}

.create-article > .sub-title{
    margin-top: 5px;
    height: 50px;
    font-size: 30px;
    font-weight: 100;
}

.create-article > .story{
    margin-top: 40px;
    height: 25px;
    font-size: 20px;
    font-weight: 300;
}

/* Login & SignUp */

.logo{
    text-align: center;
}

.sign-in, .sign-up {
    background-color: #F5F5F5;
    border: 1px solid #eee;
}

.sign-in{
    border-radius: 5px;
    margin-top: 50px;
    text-align: center;
}

.sign-up{
    text-align: left;
    border-radius: 5px;
    margin-top: 50px;
    text-align: left;
    padding-top: 20px;
}

.sign-up h4{
    display: inline !important;
}

.fb-sign h5, img{
    display: inline !important;
}

.fb-sign h5{
    margin-right: 12px;
}

.email-input{
    display: initial;
    background-color: white;
    width: 350px;
}

.password-input{
    display: initial;
    background-color: white;
    width: 276px;
    margin-bottom: 20px;
}

.sign-up-form {
    margin-top: 30px;
    text-align: left;
}

.sign-in  .form-control, .sign-up .form-control{
    margin-top: 5px;
}

.sign-up-botton{
    float: right;
    margin: 31px 0 20px 0;
}

/* Partials */

.stories{
    margin-bottom: 10px;
}

.story{
    margin-bottom: 40px;
}

.collection{
    margin-bottom: 40px;
}

.collection  a {
text-decoration: none;
color: inherit;
}

.votes{
    font-size: 70%;
}

/*
    "Single Column Timeline"
    Bootstrap 3.1.0 Snippet by digitalextremist

    http://bootsnipp.com/snippets/featured/single-column-timeline
*/

.timeline {
  list-style: none;
  padding: 20px 0 0;
  position: relative;
}
.timeline:before {
  top: 35px;
  bottom: 40px;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  right: 25px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  background-size: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 0px;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

/* Error Page */
.errorDiv{
  margin:auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}




/* Comments section */

.detailBox {
    border:1px solid #bbb;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top: 10px ;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    /*height:100%;*/
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

/* END Comments section */


.spin{
     -webkit-transform-origin: 50% 58%;
     transform-origin:50% 58%;
     -ms-transform-origin:50% 58%; /* IE 9 */
     -webkit-animation: spin .2s infinite linear;
     -moz-animation: spin .2s infinite linear;
     -o-animation: spin .2s infinite linear;
     animation: spin .2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.commentList li{
    list-style: none
}