body{

}
.container{
	max-width: 830px;
}

.navbar .container {
	padding: 0;
}

.logo{
	text-align: center;
}

.sign-in, .sign-up {
	background-color: #F5F5F5;
	border: 1px solid #eee;
}

.sign-in{
	border-radius: 5px;
	margin-top: 50px;
	text-align: center;
}

.sign-up{
	text-align: left;
	border-radius: 5px;
	margin-top: 50px;
	text-align: left;
	padding-top: 20px;
}

.sign-up h4{
	display: inline !important;
}

.fb-sign h5, img{
	display: inline !important;
}

.fb-sign h5{
	margin-right: 12px;
}

.email-input{
	display: initial;
	background-color: white;
	width: 350px;
}

.password-input{
	display: initial;
	background-color: white;
	width: 276px;
	margin-bottom: 20px;
}

.sign-up-form {
	margin-top: 30px;
	text-align: left;
}

.sign-in  .form-control, .sign-up .form-control{
	margin-top: 5px;
}

.sign-up-botton{
	float: right;
	margin: 31px 0 20px 0;
}
