body{
}

.container {
    max-width: 1000px;
}
/* Settings */

.settings{
    padding: 0 100px 0 100px;
}

.settings > h1{
    text-align: center;
}

.setting-option{
    margin-top: 50px;
}

.setting-option h4, button{
    display: inline;
}

.setting-option button{
    float:right;
    margin-left: 10px;
}

.setting-option input{
    text-align: center;
}

.moderator-search{
    margin-top: 10px;
    height: 40px;
    font-size: 30px;
    font-weight: 300;

}

/* Collections page */

.collections-container{
    max-width: 730px;
}

.article-highlight{
    background-color: #FFF;
    padding: 10px 0 10px 0;
    height: 270px;
}
.left-articles{
    padding-left: 25px;
}
.more-articles{
    height: 270px;
}
.more-articles .row{
    background-color: #FFF;
    text-align: center;
    height: 270px;
    padding: 10px 0 10px 0;
}

/* Homepage */

.story > a{
    text-decoration: none;
    color: inherit;
}

.search-all{
    margin-top: 50px;
    height: 70px;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.sidebar-title{
    margin-bottom: 25px;
}
.user-card{
    margin-bottom: 20px;
}
.round-avatar{
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

/* Search */

.search-container{
    margin-top: 60px;
}

.user-card a{
    text-decoration: none;
    color: inherit;
}

.story-search a{
    text-decoration: none;
    color: inherit;
}

/* Perfil Page */

.perfil-page.info {
    min-width: 100%;
}

.perfil-page > .cover {
    height:400px;
    background: url('../img/feather.jpg') center center no-repeat fixed;
    margin-top: -20px;
    background-size: cover;
}

.perfil-page > .avatar {
    width: 100%;
}

.perfil-page > .avatar {
    display: block;
    background: url('http://cdn.sheknows.com/articles/2012/05/sarah_parenting/baby-surprise.jpg') center center no-repeat;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 120px;
    border-radius: 100%;
}

.perfil-page > .description {
    text-align: center;
}

/* Article Page */


.article-header{
    position: relative;
    margin-top: -20px;
    background: url('../img/feather.jpg') center center no-repeat fixed;
    background-size: cover;
}

.article-header .container {
    min-height: 700px;
}

.article-header .add-to-collection{
    position: absolute;
    right: 0;
}

.article-header .article-title {
    position: relative;
    margin-top: 480px;
    width: 100%;
}

.article-header .article-title h1 {
    color:#fff;
}

.article-header .article-title p {
    //margin-right :200px;
}

.article-header .article-author{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.article-header .article-author h5{
    //display: inline !important;
}

.article{
    margin-top: 30px;
}

.article img {
    text-align: center;
}

/* Create Article Page */

.article .btn-default{
    position: relative;
    float: right;
}

.add-image{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 50px;
    height: 50px;
}

.add-image:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}

.search-input{
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: inherit;
    outline: 0 !important;
    /* -webkit-appearance: none; */
    box-shadow: none;
    width: 100%;
}

.create-article > .title{
    margin-top: 50px;
    height: 70px;
    font-size: 50px;
    font-weight: 300;
}

.create-article > .sub-title{
    margin-top: 5px;
    height: 50px;
    font-size: 30px;
    font-weight: 100;
}

.create-article > .story{
    margin-top: 40px;
    height: 25px;
    font-size: 20px;
    font-weight: 300;
}

/* Login & SignUp */

.logo{
    text-align: center;
}

.sign-in, .sign-up {
    background-color: #F5F5F5;
    border: 1px solid #eee;
}

.sign-in{
    border-radius: 5px;
    margin-top: 50px;
    text-align: center;
}

.sign-up{
    text-align: left;
    border-radius: 5px;
    margin-top: 50px;
    text-align: left;
    padding-top: 20px;
}

.sign-up h4{
    display: inline !important;
}

.fb-sign h5, img{
    display: inline !important;
}

.fb-sign h5{
    margin-right: 12px;
}

.email-input{
    display: initial;
    background-color: white;
    width: 350px;
}

.password-input{
    display: initial;
    background-color: white;
    width: 276px;
    margin-bottom: 20px;
}

.sign-up-form {
    margin-top: 30px;
    text-align: left;
}

.sign-in  .form-control, .sign-up .form-control{
    margin-top: 5px;
}

.sign-up-botton{
    float: right;
    margin: 31px 0 20px 0;
}

/* Partials */

.stories{
    margin-bottom: 10px;
}

.story{
    margin-bottom: 40px;
}

.collection{
    margin-bottom: 40px;
}

.votes{
    font-size: 70%;
}
