{include file='common/header.tpl'}

<div class="container">
    <h1>Proto</h1>
    <h2>Utilizador Logado</h2>

    Caso de Uso 2: <a href="{$BASE_URL}pages/article/create.php">Criar Artigo</a><br>
    <!-- TODO - Id do artigo de exemplo -->
    Caso de Uso 3: <a href="{$BASE_URL}pages/article/index.php?id=1">Ver Artigo</a>
</div>


{include file='common/footer.tpl'}
