body{
	/*background-color: #eee;*/
}
.container{
	max-width: 830px;
}

.search-container{
	margin-top: 60px;
}
.header{
	margin-bottom: 20px;
}
.search-input{
	border: 0;
	font-size: 50px;
	font-weight: 300;
	height: 70px;
	border-radius: 0;
	padding: 0;
	background-color: inherit;
	outline: 0 !important;
	/* -webkit-appearance: none; */
	box-shadow: none;
	width: 100%;
}


.sidebar-title{
	margin-bottom: 25px;
}
.user-card{
	margin-bottom: 20px;
}
.round-avatar{
	border-radius: 100%;
	width: 80px;
	height: 80px;
}
