body{
}

.container {
	max-width: 1000px;
}

.perfilpage{
	min-width: 100%;
}

.perfil-image{
	height:400px;
	background: url('../img/bg.jpeg') center center no-repeat fixed;
	margin-top: -20px;
	background-size: cover;
}

.perfil-foto{
	width: 100%;
	margin-top: -50px;
}

.perfil-foto, img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 120px;
	width: 120px;
	border-radius: 100%;
}

.perfil-description{
	text-align: center;
}

.stories{
	margin-bottom: 10px;
}

.story{
	margin-bottom: 40px;
}

.collection{
	margin-bottom: 40px;
}

.votes{
	font-size: 70%;
}
